# =========================
# FRONTEND (SAFE)
# =========================
VITE_APP_URL=
VITE_RAZORPAY_KEY_ID=

# =========================
# BACKEND (SECRET - NEVER EXPOSE)
# =========================
RAZORPAY_KEY_SECRET=

# =========================
# ENV
# =========================
NODE_ENV=development

# =========================
# OPTIONAL
# =========================
VITE_SUPPORT_EMAIL=support@example.com